.Q{
  width: 80%;
  margin: 0px auto;
}
ul li{
  display: inline;
  text-decoration-style:none ;
}
ul img{
  width: 15px;
}
.nav ul{
  margin-left: 120px;
  word-spacing: 30px;
}
.W{
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.E{
  width: fit-content;
  height: fit-content;
  font-size: 25px;
  font-weight: bold;
}
.nav{
  width: fit-content;
  height: fit-content;
  font-size: 15px;
  display: flex;
  align-items: center; 
}
button{
  padding: 7px 13px;
  border: none;
}
.R{
  color: #ffffff;
  background-color: #000000;
  border-radius: 20px;
}
.T{
  color: gray;
  border: 0.5px solid gray;
  background-color: #ffffff;
  border-radius: 25px; 
}
.Y{
  color: #ffffff;
  background-color: #000000;
  border-radius: 25px;
}
.U{
  width: 100%;
  margin: 0 auto;
  border-radius: 30px;
  background-color: hsla(0, 80%, 81%, 0.438);
}
.I{
  width: fit-content;
  height: fit-content;
  margin-left: 80px;
}
.I h1{
  font-size: 35px;
}
.I p{
  font-weight: 550;
}
.O{
  display: flex;
  align-items: center;
}
.O img{
  margin-left: 10px;
  width: 20px;
  height: 20px;
}
.P img{
  width: 700px;
  height: 400px;
}
.U2{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.S{
  width: 20%;
}
.D{
  display: flex;
  align-items: center;
}
.D img{
  width:40px;
  height: 40px;
  margin-left: 15px;
}
.F{
  display: flex;
  align-items: center;        
  justify-content: space-between;
}
.F p{
  color: #d8345f;
}
.G{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.G p{
  margin: 0;
}
.H{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.J{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.J h4{
  margin: 0;
}
.L{
  padding: 10px 20px;
  border-radius: 20px;
}
.K{
  display: flex;
  justify-content: space-between;
}
.K input{
  outline: none;
  border-style: none;
}
.K button{
  color: #ffffff;
  background-color: #000000;
  border: none;
}
.X img{
  width: 100%;
  border-radius: 15px;
}
.X{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.A{
  display: flex;
  justify-content: space-between;
}
.Z{
  margin-top: 30px;
  width: 70%;
}
.X{
  margin-top: 30px;
}
.C{
  width: 30%;
}
